<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="124.3.50" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="124.3.50" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="124.3.5" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="124.3.5" targetFramework="net472" />
  <package id="Fleck" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.2.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2017.11.30.232" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>